<% include partials/catering %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/landing.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>


<header class = "w3-container w3-red">
	<h1 align = "center">CATERING</h1>
</header>

<body>
	<table class = "table table-hover table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Location</th>
				<th>Price</th>
				<th>Beverages</th>
				<th>Contact</th>
			</tr>
		</thead>
		<tbody>
		<% for (var i = 0; i < catering.length; i++) { %>
			<tr>
				<td><%= catering[i].name %></td>
				<td><%= catering[i].description %></td>
				<td><%= catering[i].location %></td>
				<td><%= catering[i].price %></td>
				<td><%= catering[i].beverages %></td>
				<td><%= catering[i].contactno %></td>
			</tr>    
		<% } %>
		</tbody>
	</table>
</body> 

<% include partials/footer %>